files:
  /home/ec2-user/.ssh/authorized_keys:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    content: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC91GCATeKAuTyfo6pTLEeSVhtqNquI07lAszAqIoVEDtzu1IzzFboAWQ1l3g4E5rTDqngAQNtx3+BfbkGeoEOYOUzdA41bp7XzFwkodljcY76gASH8JxRSyvgZ+v166EpqykO73A/NLnLAoXnhRlP51Uorb5NjuZiVYaOspywCFl/Jsr6MowPwsaY3Kmzxxj53Nf6fyxnCD4Ofzb+1Alehr1UYEoHEovwtW41mNqE9EQQdxIkdsgpGFUBCQsZVYgAnqjnYFlpUzt8Xypm2GXU/wzNOQximHmtMRyv1w/NCsWmF15U/n58YmGEBZHNQoZxYWLt2PGE/usl+yiYVNntX simonfletcher0@gmail.com

